.about_page_content {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.about_page_content h1 {
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 40px;
    font-family: serif;
    text-align: left;
    color: #222;
    margin-bottom: 50px;
}

.about_page_content h1 code {
    color: #8a2be2;
}

@media screen and (max-width: 700px){
    .about_page_content h1 {
        line-height: 40px;
        font-size: 30px;
    }
}

.about_page_content h2 {
    display: block;
    width: 100%;
    line-height: 40px;
    font-size: 30px;
    font-family: serif;
    text-align: left;
    color: #222;
    margin-bottom: 50px;
}

.about_page_content h2 code {
    color: #8a2be2;
}

@media screen and (max-width: 700px){
    .about_page_content h2 code {
        line-height: 32px;
        font-size: 25px;
    }
}

.about_page_content p {
    display: block;
    width: 100%;
    line-height: 25px;
    font-size: 16px;
    text-align: left;
    color: #444;
    font-family: serif;
    font-weight: normal;
    margin-bottom: 50px;
}

.about_page_content p:last-of-type {
    margin-bottom: 0;
}

.about_page_content p a {
    color: #8a2be2;
}

.about_page_content p a:hover {
    text-decoration: underline;
}

.about_page_content img {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.about_page_content div:last-child img,
.about_page_content p:last-child img {
    margin-bottom: 0;
}